// -webkit-transition: all .10s ease
// -moz-transition: all .10s ease
// -ms-transition: all .10s ease
// -o-transition: all .10s ease
// transition: all .10s ease

body
  color: $black
  background: $gray_dark

@import client.blog.sass

// Header
//––––––––––––––––––––––––––––––––––––––––––––––––––
.header
  padding: 1.3% 0
  +img("bg/header.png", "repeat")
  background-color: $gray
  border-top: 4px solid $green_dark
  border-bottom: 4px solid $blue

  .logo
    width: 331px
    height: 135px

  .unidade
    width: 20%
    h4
      color: $black
      padding: 0
      margin: 0
      font-size: 17px
      font-weight: 600
      text-transform: uppercase
    select
      height: 30px
      width: 100%
      margin-bottom: 4%
      text-transform: uppercase
      font-weight: 600
      color: $green
      option
        font-weight: 600
    .telefone
      line-height: 30px
      font-size: 28px
      color: $green_dark
      font-weight: 600
      +img("bg/header-telefone.png", "no-repeat left 90%")
  // e#unidade
// e#header

  
//
.menu
  background: #fff
  padding: 1% 0
  
  .color-range
    background: $gray

  nav
    padding: 1% 0
    font-weight: 600

  .search
    margin-top: 0.7%
    input
      float: left
      width: 79%
      height: 40px
      border-radius: 0
      border: 0

    #s
      border-right: 0

    .enviar
      border: 0
      float: left
      position: relative
      left: -3px
      width: 21%
      height: 40px
      text-indent: -999em
      padding: 12px 0 11px 0
      +img("bg/header-search-btn.png", "no-repeat center center #fff")
  // .search



// Banner
//––––––––––––––––––––––––––––––––––––––––––––––––––
.slides
  +img("bg/banner.png", "repeat-x center center")
  background-color: #fff
  .next, .prev
    top: 43%
    width: 44px
    height: 43px
    &:hover
      opacity: 1

  .next
    background-position: -50px 0
    &:hover
      background-position: -50px 0
  
  .prev
    &:hover
      background-position: 0 0


// Wrap
//––––––––––––––––––––––––––––––––––––––––––––––––––
.wrap
  background: #fff

  .container
    padding-top: 0

  #breadcrumbs
    margin: 0
    .breadcrumb_last
      color: $green
      text-decoration: none
      text-transform: uppercase

  h1,
  .style-h1
    text-align: center
    font-size: 30px
    text-transform: uppercase
    margin-bottom: 4%
    color: $black
    font-family: 'Raleway', sans-serif
    font-weight: 300
    &:before
      position: relative
      top: 15px
      padding-right: 1.5%
      content: url('../img/icon/exam.png')
    &.doctor:before
      content: url('../img/icon/doctor.png')
    &.heart:before
      content: url('../img/icon/heart.png')
    &.location:before
      content: url('../img/icon/location.png')

  &.page-especialidades
    h1:before
      content: url('../img/icon/doctor.png')

  .servicos,
  .unidades
    strong
      font-weight: 600
    ul.busca
      margin-bottom: 4%
      padding: 0.5% 0
      list-style: none
      text-align: center
      background: $green
      li
        display: inline-block
        color: $green_dark
        text-transform: uppercase

        &:last-child
          a:after
            content: ''
        a
          display: block
          width: 100%
          padding: 1% 6px 
          font-weight: bold
          &:after
            content: ' | '
            float: right
            position: relative
            top: -2px
            color: #fff
          &:hover
            color: #fff
            text-decoration: none
    
    .itens
      .letra
        margin-bottom: 1%
        font-family: 'Raleway', sans-serif
        span
          color: #fff
          padding: 3px 10px
          font-size: 30px
          font-weight: 900
          background: $green
          -webkit-border-radius: 50px
          -moz-border-radius: 50px
          border-radius: 50px
      .itens
        margin-bottom: 4%
      .item
        margin-bottom: 2%
        .descricao
          padding-left: 10%
          color: $green
        h2
          padding-left: 10%
          color: $green_dark
          letter-spacing: 0.03px
          font-family: 'Raleway', sans-serif

  .utilidades
    padding: 2.5% 0
    h2:before
      content: url('../img/icon/heart.png')
    h3
      text-transform: uppercase
      margin-bottom: 2%
      font-weight: 400
      letter-spacing: 0.02px
    .content
      background: $gray
      text-align: center
    .seemore
      padding: 7% 0
      a
        display: inline-block
        padding: 3% 6%
        color: #fff
        font-weight: bold
        border-bottom: 2px solid $green_dark
        background: $blue
        text-transform: uppercase
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        border-radius: 5px
        -webkit-transition: all .10s ease
        -moz-transition: all .10s ease
        -ms-transition: all .10s ease
        -o-transition: all .10s ease
        transition: all .10s ease
        &:hover
          background: $green_dark
          text-decoration: none

  .fullblock.servicos
    .container
      padding: 0
    h2
      text-align: left
      margin-bottom: 3%
    h3
      color: $green_dark
      letter-spacing: 0.03px
      font-family: 'Raleway', sans-serif
      margin: 0
      padding: 0
      font-weight: 600
    div.text
      color: $green
      padding-left: 6%
      margin-bottom: 2%

    .exames h3
      margin-bottom: 2.87%

    .seemore
      font-size: 16px
      a
        color: $green
        font-weight: bold

    .green
      background: $green
      .container
        padding: 1% 0
      .one-half.columns
        padding: 0.5% 2%
        background: #fff
  

  .home
    .style-h1
      margin: 2%

    .instituto
      padding: 2% 0
      p
        padding: 0
        margin: 0
      .content
        min-height: 420px
        +img('bg/home-instituto.jpg', 'no-repeat center center')
      .text
        padding-top: 2%
      .seemore
        text-align: center
        a
          display: inline-block
          padding: 1% 5%
          color: #fff
          font-size: 18px
          font-weight: bold
          border-bottom: 2px solid $green_dark
          background: $green
          text-transform: uppercase
          -webkit-border-radius: 5px
          -moz-border-radius: 5px
          border-radius: 5px
          -webkit-transition: all .10s ease
          -moz-transition: all .10s ease
          -ms-transition: all .10s ease
          -o-transition: all .10s ease
          transition: all .10s ease
          &:hover
            background: $green_dark
            text-decoration: none
  // e#home

// Contact Form
.wpcf7
  +placeholder_color($black)
  
  input, select, textarea
    border-radius: 0
    margin-bottom: 3%

  select
    text-indent: 7px

  textarea
    height: 200px
    padding: 7px

  input[type="submit"]
    float: none
    margin: 0 auto
    width: auto
    height: auto
    text-indent: 0
    font-size: 18px
    color: #fff
    background: $green_dark
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
  


// Footer
//––––––––––––––––––––––––––––––––––––––––––––––––––
.footer
  border-top: 2px solid $green_dark
  padding: 15px 0

  .color-range
    padding: 1% 0
    background: #ebebeb

  nav
    ul
      text-align: center
      list-style: none
    li
      display: inline-block
      a
        padding: 9px 13px
        color: $green
        font-size: 17px
        font-weight: 700
        // letter-spacing: 1px
        text-decoration: none
        text-transform: uppercase
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        border-radius: 5px
      &:hover > a,
      &.current_page_item > a,
      &.current-menu-item > a,
      &.current-post-ancestor > a,
      &.current-menu-parent > a,
      &.current-post-parent > a
        color: #fff
        background: $green_dark
        text-decoration: none
  
  .scrollup
    display: block
    right: 0
    width: 55px
    height: 68px
    top: -60px

  .mmd
    padding: 2% 0
    position: relative
    text-align: center

// Media Queries
//––––––––––––––––––––––––––––––––––––––––––––––––––

// All Mobile Sizes (devices and browser)
@media only screen and (max-width: 767px)
  .header .unidade
    width: 100%
